.w-35 {
  width: 35rem;
}

.signinAvatarParent {
  height: 50px;
}

.border-circ {
  border-radius: 96px;
}

.signin-btn {
  width: 100%;
  color: #1a8cff;
  font-weight: 800;
}

.subtitle {
  font-size: 0.8rem;
}
