<div class="mb-3 roboto mt-3" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">

  <div class="">
    {{signInTitle}}
  </div>

  <div class="subtitle">
    <a [routerLink]="['../', 'signin']">Go sign in instead</a>
  </div>

  <div ngClass.gt-xs="w-35" ngClass.xs="w-100">
    <mat-card class="" [formGroup]="signFg">
      <mat-card-content>
        <div class="signinAvatarParent mb-3" fxLayout="row" fxLayoutAlign="center center">
          <img [src]="avartarImgSrc" class="img-h-100 border-circ" alt="logo">
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="mb-2 w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [formControlName]="'email'" [errorStateMatcher]="matcher">
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>This will be your login email.</mat-hint>
            <mat-error *ngIf="this.emailFc.hasError('email')">Invalid email format.</mat-error>
            <mat-error *ngIf="this.emailFc.hasError('required')">Email is required.</mat-error>
            <mat-error *ngIf="this.emailFc.hasError('emailExists')">
              This email is already taken. If you have already signed up, try logging in instead.
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px" fxLayoutAlign="start center"
          fxLayoutAlign.gt-xs="center center">
          <div class="w-100">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" [formControlName]="'password'" [type]="passwordVisible ? 'text' : 'password'"
                [errorStateMatcher]="matcher">
                <button matSuffix mat-icon-button aria-label="" (click)="onPasswordVisToggle()">
                  <ng-container *ngIf="passwordVisible; else hidePassword">
                    <mat-icon>visibility_off</mat-icon>
                  </ng-container>
                  <ng-template #hidePassword>
                    <mat-icon>visibility</mat-icon>
                  </ng-template>
                </button>
              <mat-error *ngIf="this.passwordFc.hasError('required')">Please enter a password.</mat-error>
              <mat-error *ngIf="this.passwordFc.hasError('minCharCount')">Needs to be at least 6 characters.</mat-error>
            </mat-form-field>
          </div>

          <div class="w-100">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Confirm</mat-label>
              <input matInput placeholder="Confirm password" [formControlName]="'repassword'" [type]="passwordVisible ? 'text' : 'password'"
                [errorStateMatcher]="matcher" (keyup.enter)="onSignupClick()">
                <button matSuffix mat-icon-button aria-label="" (click)="onPasswordVisToggle()">
                  <ng-container *ngIf="passwordVisible; else hidePassword">
                    <mat-icon>visibility_off</mat-icon>
                  </ng-container>
                  <ng-template #hidePassword>
                    <mat-icon>visibility</mat-icon>
                  </ng-template>
                </button>
              <mat-error
                *ngIf="this.repasswordFc && this.repasswordFc.hasError('passwordDoesNotMatch')">
                Password does not match.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="((this.as.errorOccured$ | async) === true)" class="">
          <ng-container *ngIf="(this.as.errorMsg$ | async) as msg">
            <div class="alert alert-danger" role="alert">
              {{ msg }}
            </div>
          </ng-container>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <div class="">
          <button mat-button class="signin-btn" (click)="onSignupClick()"
            [disabled]="this.signFg.invalid || (this.as.apiLoading$ | async)">
              <ng-container *ngIf="((this.as.apiLoading$ | async) === true); else text">
                Loading...
              </ng-container>
              <ng-template #text>
                Create account
              </ng-template>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
