<ng-container *ngIf="((this.fs.userFilesApiLoading$| async) === false); else loading">
  <div class="w-100" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="45px">
    <div class="title quicksand fw-500 w-100">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <div>
          My Files
        </div>
        <div>
          ({{ this.fs.userFilesCount$ | async }})
        </div>
      </div>
      <hr class="w-100 part-loading">
      <div class="w-100 api-loading mb-10">
        <ng-container *ngIf="this.fs.userFileApiWorking$ | async">
          <shared-loading-bar class="w-100"></shared-loading-bar>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="w-100">
    <app-shared-loading></app-shared-loading>
  </div>
</ng-template>
