<div class="w-100" fxLayout="column" fxLayoutAlign="start center">
  <div class="title quicksand fw-500 w-100">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div>
        My Files
      </div>
      <div>
        ({{ this.fs.userFilesCount$ | async }})
      </div>
    </div>
    <hr class="w-100 part-loading">
    <div class="w-100 api-loading">
      <ng-container *ngIf="this.fs.userFileApiWorking$ | async">
        <shared-loading-bar class="w-100"></shared-loading-bar>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="(this.ufds.getUserDisplayTabs$ | async) as userDisplayTabs">
    <nav mat-tab-nav-bar class="w-100 tab-nav" [disableRipple]="true" mat-align-tabs="start">
      <a mat-tab-link *ngFor="let tab of (userDisplayTabs.tabs)"
        (click)="onTabClick(tab)" [active]="userDisplayTabs.selectedTabLabel === tab.label">
          <mat-icon class="tab-icon mr-1">{{ tab.icon }}</mat-icon>
          {{ tab.label }}
      </a>
    </nav>
  </ng-container>

  <div class="actions w-100" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <ng-container *ngIf="(this.ufds.getFilesDisplayTableActionBtns$ | async) as tableActionBtns">
        <ng-container *ngFor="let action of tableActionBtns">
          <button mat-button color="primary" (click)="onActionClick(action)">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>{{ action.icon }}</mat-icon>
              </div>
              <div>
                {{ action.label }}
              </div>
            </div>
          </button>
        </ng-container>
      </ng-container>
    </div>
    <div class="selection">
      <ng-container *ngIf="(this.ufds.getTableSelected$ | async) as selectedRows">
        <ng-container *ngIf="selectedRows.length > 0">
          <div fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="end center">
            <div>
              {{ selectedRows.length }} selected
            </div>
            <div class="clear">
              <button mat-icon-button title="Clear selection" color="primary" (click)="onClearSelection()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="w-100">
    <hr class="w-100 part-loading no-top">
  </div>

  <div class="w-100">
    <router-outlet></router-outlet>
  </div>
</div>
