.title {
  font-size: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

nav a:hover {
  text-decoration: none;
}

nav a.mat-tab-label-active {
  color: #403e3e;
  opacity: 1;
}

.container-fluid .mat-tab-header {
  margin-bottom: 15px;
}

.action {
  .selection {
    font-size: 14px;
  }
}
