<div fxLayout="column" fxLayoutAlign="start center" class="table-parent w-100">
  <div class="filter">

  </div>
  <div class="paginator w-100" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="page-info" *ngIf="pagination">
      Page {{ (pagination.currentPage) + 1 }} / {{ pagination.totalPages }}
    </div>
    <div>
      <mat-paginator [showFirstLastButtons]="true" (page)="onPage($event)" [length]="pagination?.totalCount"
        [hidePageSize]="true" [pageIndex]="pagination?.currentPage" [pageSize]="30">
      </mat-paginator>
    </div>
  </div>

  <ng-container *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" (change)="onMasterToggle($event)"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
            (change)="onRowCheckboxToggle(row, $event)"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let col of this.columnIds">
        <ng-container [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef> {{ col | tableColumnDisplay }} </th>
          <td mat-cell *matCellDef="let element">

            <ng-container [ngSwitch]="col">
              <ng-container *ngSwitchCase="'photoUrl'">
                <a [href]="element[col]" target="_blank">
                  {{ element[col] | tableDataDisplay:col }}
                </a>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <span>
                  {{ element[col] | tableDataDisplay:col }}
                </span>
              </ng-container>
            </ng-container>

          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnIdsWithSelect; sticky: true">
      </tr>
      <tr mat-row *matRowDef="let row; columns: columnIdsWithSelect; let isEven = even; let isFirst = first"
        [ngClass]="{'strip-bg' : isEven, 'custom-row' : true }">
      </tr>
    </table>
  </ng-container>


</div>
