<div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
  <div class="filter-parent" fxLayout="row" fxLayoutAlign="start center" fxFlex="33%">
    <form class="search-form">
      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Search...</mat-label>
        <input *ngIf="inputCtrl" matInput placeholder="Ex. cool.png" [formControl]="inputCtrl">
        <button *ngIf="true" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <div>
    <button mat-stroked-button color="primary" (click)="onFilterClick()">Filter</button>
  </div>
</div>
