:host {
  width: 100%;
}

.no-user {
  .logo-img {
    height: 4rem;
  }

  .welcome-icon {
    font-size: 4.7rem;
    height: 4.7rem;
    width: 4.7rem;
    color: #5f5dbb;
  }

  .main {
    font-size: 32px;
    color: #5f5dbb;
  }

  a {
    color: #5f5dbb;
  }
}

.user {
  font-size: 20px;

  .user-name {
    color: #2a2961;
  }
}
