<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div class="poppins title bb-1">
    Recent uploads:
  </div>
  <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start stretch">
    <ng-container *ngIf="(recentUploads && recentUploads.length > 0) else noRecentPhotos">
      <ng-container *ngFor="let photo of recentUploads">
        <div>
          <app-shared-photo-record-display [photo]="photo"></app-shared-photo-record-display>
        </div>
      </ng-container>
      <div class="poppins mt-2" fxLayout="row" fxLayoutAlign="start center">
        <a [routerLink]="['../', 'history']">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div>
              Go to My Files
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noRecentPhotos>
  <div class="poppins gray-text empty-text">
    <ng-container *ngIf="apiWorking; else loaded">
      Loading...
    </ng-container>
  </div>
</ng-template>

<ng-template #loaded>
  <div>
    You have not uplaoded anything yet. ¯\_(ツ)_/¯
  </div>
</ng-template>
