.upload-action {
  border: 1px solid #ccc;
  padding: 5px 25px;
  border-radius: 30px;
  background-color: #e6f2ff;
  cursor: pointer;

  .text {
    font-size: 20px;
    color: #5f5dbb;
  }
}

.upload-input {
  display: none;
  height: 0px;
}

.uploading-title {
  font-size: 20px;
}

.title {
  font-size: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}
