<ng-container *ngIf="file">
  <div class="file-parent">
    <div class="card">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="loading-status poppins">
        <ng-container *ngIf="file.progress < 100; else finished">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <!-- <div fxLayout="column" fxLayoutAlign="center center" >
              <mat-icon class="progress">check_circle</mat-icon>
            </div> -->
            <div>
              Uploading ( {{ file.progress }}% )
            </div>
          </div>
        </ng-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="progress-parent">
          <ng-container *ngIf="file.progress">
            <shared-loading-bar [progress]="file.progress" [mode]="'determinate'"></shared-loading-bar>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="isImgType; else notImg">
        <div class="image-parent">
          <img [src]="imgPreview" class="preview-img">
        </div>
      </ng-container>

      <div class="w-100">
        <hr>
      </div>
      <div class="w-100 poppins info-parent" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
        <div class="info-line" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="label">
            File Name:
          </div>
          <div class="value">
            {{ file.fileName }}
          </div>
        </div>
        <div class="info-line" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="label">
            File Size:
          </div>
          <div class="value">
            {{ file.fileSize | fileSizeDisplay }}
          </div>
        </div>
        <div class="info-line" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="label">
            Date modified:
          </div>
          <div>
            {{ file.dateModified | dateDisplay:'MDY' }}
          </div>
        </div>
        <div class="info-line" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="label">
            Download URL:
          </div>
          <div>
            <ng-container *ngIf="file.downloadUrl; else noUrl">
              <a [href]="file.downloadUrl" download="hi">Click here</a>
            </ng-container>
            <ng-template #noUrl>
              Creating URL...
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #finished>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <mat-icon class="done">check_circle</mat-icon>
    </div>
    <div>
      Completed
    </div>
  </div>
</ng-template>

<ng-template #notImg>
  <div class="image-parent">
    <mat-icon class="file-icon" fxLayout="row" fxLayoutAlign="center center">
      description
    </mat-icon>
  </div>
</ng-template>
